* {
  margin: 0;
}
.title {
  color: #111;
  font-family: Montserrat;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 28px;
  letter-spacing: -0.72px;
  text-transform: uppercase;
  margin-bottom: 50px;
  display: flex;
  justify-content: center;
  flex-shrink: 0;
}
.colored-title {
  color: #fd9222;
  text-align: center;
  margin-right: 5px;
}
.list {
  list-style: none;
  /* padding: 50px 0 0 0; */
  display: flex;
  gap: 28px;
  margin-bottom: 80px;
}
.container-section {
  padding: 128px 32px;
}
.list-two {
  list-style: none;
  padding: 32px 0 50px 0;
  display: flex;
  justify-content: center;
  gap: 13px;
}
.button {
  display: flex;
  width: 222px;
  height: 50px;
  padding: 14px 40px;
  justify-content: center;
  align-items: flex-start;
  gap: 14px;
  flex-shrink: 0;
  border-radius: 100px;
  border: 1px solid #fd9222;
  font-family: Montserrat;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  cursor: pointer;
  background: rgba(17, 17, 17, 0);
}
.button:hover {
  color: #fd9222;
}
.div-button {
  display: flex;
  justify-content: center;
}

.container-cards {
  width: 360px;
  height: 242px;
  flex-shrink: 0;
}

.container {
  width: 1158px;
  margin: 0 auto;
  padding: 0 15px;
}

.circle-image {
  width: 80px;
  height: 80px;
  justify-content: center;
  align-items: center;
}

.div-circle-image {
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 18px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 18px;
  /* width: 80px; */
  top: 80px;
}

.circle-image-title {
  color: #111;
  text-align: center;
  font-family: Montserrat;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 133.333%;
}

.circle-image-paragraph {
  color: rgba(17, 17, 17, 0.7);
  text-align: center;
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 128.571%;
  letter-spacing: -0.28px;
  padding: 24px 24px 42px 24px;
  margin-top: 80px;
}
.div-circle-image-paragraph {
  width: 360px;
  height: 200px;
  flex-shrink: 0;
  border-radius: 15px;
  border: 1px solid rgba(17, 17, 17, 0.1);
  background: #fff;
  box-shadow: 0px 9.049px 26.572px 0px rgba(215, 228, 249, 0.25);
}

.container img {
  display: block;
  width: 80%;
  object-fit: cover;
}

.container .card_content {
  display: flex;
  padding: 6rem 2.5rem;
}

.cards {
  width: 100%;
  position: relative;
}

.cards title {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 80%;
  text-align: center;
  padding: 0.4rem;
}

.content {
  text-align: center;
  position: absolute;
  padding: 1rem 0;
  width: 80%;
}
